.background {
	padding: 30px;
	background: #ececec;
	height: 100vh;
}

.container {
	background: #fff;
	display: block;
	/* position: absolute; */
	top: 20%;
	left: 30%;
	right: 30%;
	width: 40%;
	height: 50vh;
	overflow: auto;
	padding: 0 5px;
}

.header {
	position: fixed;
	top: 19%;
	margin: 0 -5px;
	background: cornflowerblue;
	width: 38.5%;
}
